<% @posts.each do |post| %>
<div class="grid-header">
				<h3><%= link_to post.title, "/posts/#{post.id}"%></h3>
				<ul>
				<li><span>Post By <%= post.name %> <%= post.created_at.strftime("%B, %d, %Y") %></span></li>
				<li><%= post.comments.count %> comments</li>
				</ul>
			</div>
			<div class="grid-img-content">
			<p><%= post.body  %><a href="#">...</a></p>
			<div class="clear"> </div>
			</div>
			
		</div>
<%end %>


