<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrap">
<!---start-sidebar---->
<div class="left-sidebar">
	<div class="logo">
 		<img src="<%= asset_path 'logo1.png' %>">
		<h1>Blog</h1>
	</div>
	<div class="top-nav">
		<ul>
			<li><a href="/">Home</a></li>
			<% if !user_signed_in? %>
			<li><%= link_to "sign In", new_user_registration_path %></li>
			<li><%= link_to "Log In", new_user_session_path %></li>
			<% end %>
			<% if user_signed_in?  %>
			<li><%= link_to "Create new post", new_post_path %></li>
			<li><%= link_to "Log out", destroy_user_session_path, method: :DELETE %></li>
			<li>
				<p>Welcome <%= current_user.email  %></p>
			</li>
			<%end %>
		</ul>
	</div>
</div>

<div class="content">
	<div class="grids">
		<div class="grid box">
		<div class="row">
	      <% flash.each do |name, msg| %>
	  	  <%= content_tag(:div, msg, class: "alert") %>
	      <% end %>	

 <%= yield %>


<div class="footer">
	<p>Feedlive &#169	 All Rights Reserved | Designed By <a href="http://w3layouts.com/">W3Layouts</a></p>
</div>
<div class="clear"> </div>
					
        </div>
</body>
</html>



